<ion-view>
<ion-nav-view class="bar bar-positive">
    <h1 class="title">My Page</h1>
</ion-nav-view>

  <ion-content class="has-header">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search"  placeholder="Search Location" ng-model="searchLocation" />
    </label>
    <div class="item" ng-repeat="contact in contactlist | filter:searchLocation" ng-show="searchLocation">
      
      {{contact.name}}
    </div>
    <div>
    <br>
    <br>
      <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search"  placeholder="Search food" ng-model="searchFood"/>
    </label>
    </div>
    <div class="item" ng-repeat="cf in contactfood | filter:searchFood" ng-show="searchFood">
      
      {{cf.name}}
    </div>
    <div>
    <br>
    <br>
    <div class="row">
      <div class="col"><button class="button button-block" >Indian</button>
      </div>
      <div class="col"><button class="button button-block">Chinese</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block">Italian</button>
      </div>
      <div class="col">
        <button class="button button-block">Fast Food</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button class="button button-block">Mexican</button>
      </div>
      <div class="col"></div>
    </div> 
    </div>
  </ion-content>
</ion-view>