<ion-view>
<ion-nav-view class="bar bar-header header">
	<h1 class="title"  style="color:white;">Food Corpio</h1>
</ion-nav-view>
	<ion-content class="has-header back">    
  </div><br><br><br>
  <div>
   <img class="img" src="img/logo2.jpg">            
  </div><br>
  <div class="card item-input text"><input type="tel" placeholder="Mobile Number">
   <button ng-click="showotp()" class="button button-positiveorange" style="margin-right:2%;">
   <i  class="ion-arrow-right-a" ></i></button>
  </div>  <br>

  <div class="item item-input text"><input type="tel" id="otp" ng-hide="hideotp" placeholder="Enter OTP">
  </div> <br>

  <div> <b><p class="or">OR</p></b></div>
  <div><br>
   <button class="button button-positive" style="margin-left:25%;">
   <i class="ion-social-facebook"></i>    </button>
   <button class="button button-positivegreen">
   <i class="ion-social-whatsapp"></i>    </button>
   <button class="button button-positivered">
   <i class="ion-social-googleplus"></i>    </button>
  </div>
	</ion-content>
</ion-view> 